*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: Roboto, sans-serif;
  overflow: hidden;
  background: #ffa7a7;
}

.container
{
  width: 550px;
  margin: 30px auto;
}

.tracker
{
  position: relative;
  width: 370px;
  height: 600px;
  border-radius: 7px;
  overflow: hidden;
  background: #141414;
  margin: 0 auto;
}

.map
{
  position: relative;
  width: 800px;
  margin-left: -100px;
}

.map img
{
  width: 800px;
}

.map:before
{
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-shadow: inset -100px 0 100px 40px #141414;
}

.search-box
{
  position: absolute;
  top: 0;
  padding: 30px 20px;
}

.search-box .fa
{
  color: rgba(255,255,255,0.4);
  position: absolute;
  font-size: 11px;
}

.ip-search
{
  width: 220px;
  border: none;
  padding: 5px 25px;
  font-size: 14px;
  border-radius: 50px;
  background: rgba(255,255,255,0.1);
  color: rgba(255,255,255,0.9);
}

.fa-search
{
  margin-top: 8px;
  margin-left: 8px;
}

.fa-times-circle
{
  font-size: 14px !important;
  margin-top: 6px;
  margin-left: -22px;
}

span.cancel
{
  color: rgba(255,255,255,0.4);
  font-size: 14px;
  margin-left: 5px;
}

.btn-direction
{
  position: absolute;
  text-align: center;
  background: #ff341b;
  top: 0;
  margin-top: 80px;
  width: 90%;
  left: 50%;
  margin-left: -45%;
  color: rgba(255,255,255,0.9);
  font-size: 18px;
  font-weight: 100;
  padding: 10px 0;
  border-radius: 30px;
}

.marker-box
{
  position: absolute;
  top: 0;
  margin-top: 250px;
  margin-left: 250px;
}

div.marker
{
  position: relative;
  width: 80px;
  height: 80px;
  background: #ff341b;
  overflow: hidden;
  top: 0;
  border-radius: 100% 100% 100% 2%;
  transform: rotate(-45deg);
  z-index: 1;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.05);
}

div.marker img
{
  position: absolute;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 12.5%;
  transform: rotate(45deg);
  border-radius: 100%;
}

div.marker:before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 200%;
  display: inline-block;
  background: rgba(255,255,255,0.1);
  left: 15%;
  transform: rotate(65deg);
  filter: blur(1px);
  z-index: 1;
}

div.marker:after
{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: rgba(0,0,0,0.1);
  bottom: -5px;
  left: -5px;
  filter: blur(4px);
}

.marker-radar
{
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(0,0,0,0.4);
  margin-left: 39px;
  margin-top: 14px;
  
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.4),
              0 0 0 15px rgba(255,52,27,0.4),
              0 0 0 30px rgba(255,52,27,0.3),
              0 0 0 45px rgba(255,52,27,0.2),
              0 0 0 60px rgba(255,52,27,0.1);

  border-radius: 100%;
}

.user-location
{
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ff341b;
  border-radius: 100%;
  border: 3px solid #fff;
  box-sizing: border-box;
  top: 0;
  margin-top: 250px;
  margin-left: 35px;

  box-shadow: 0 0 5px 5px rgba(0,0,0,0.2),
              0 0 0 10px rgba(255,52,27,0.2),
              0 0 0 20px rgba(255,52,27,0.1);
}

.marker-info-box
{
  position: absolute;
  width: 85%;
  height: 120px;
  background: #ff341b;
  bottom: 20px;
  left: 50%;
  margin-left: -42.5%;

  box-shadow: 315px 0 0 -15px rgba(255,52,27,0.31),
              -315px 0 0 -15px rgba(255,52,27,0.31),
              0 22px 0 -15px rgba(255,52,27,0.3),
              0 40px 0 -25px rgba(255,52,27,0.2),
              inset 0 0 55px rgba(255,255,255,0.1),
              inset 0 0 55px rgba(0,0,0,0.2);
}

.marker-info-box > div
{
  width: 45%;
  float: left;
  color: rgba(255,255,255,0.9);
  padding: 5px 7px;
}

.marker-info-box > div > span
{
  display: block;
}

.marker-info .name
{
  font-size: 21px;
  font-weight: 700;
  margin-left: 10px;
  margin-top: 10px;
}

.marker-info .activity
{
  font-size: 10px;
  margin-left: 10px;
  color: rgba(255,255,255,0.7);
}

.marker-action .btn
{
  padding: 10px 15px;
  display: inline-block;
  background: #2f2f2f;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 100;
  box-shadow: 0 18px 20px -10px rgba(0,0,0,0.4);
}

.marker-action .btn i
{
  color: rgba(255,255,255,0.5);
  font-size: 19px;
  margin-right: 5px;
}

.marker-info-box .head-title
{
  font-size: 9px;
  margin-left: 10px;
  margin-top: 5px;
}

.distance span:nth-child(2)
{
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 5px;
}